* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

h1 {
  margin: 20px auto!important;
  font-size: 50px!important;
}

.container {
  padding: 0 1rem;
}

.about {
  padding-top: 20px;
  text-align: center;
}